# Zoom Server-to-Server OAuth Credentials
# Get these from https://marketplace.zoom.us/develop/apps
# App type: Server-to-Server OAuth

ZOOM_ACCOUNT_ID=4k9sEzNfSOWFULsjUr_dWw
ZOOM_CLIENT_ID=bDKQH4Y8R4Oog0UL3ETEpg
ZOOM_CLIENT_SECRET=FPMvoIzXVBAFR8FrWWjNVLNoT9RYLDO6
